@model IEnumerable<SmiteAPIWebsite.ItemsInfo>

@{
    ViewData["Title"] = "Items";
}

<h1>Items</h1>

<div class="card-columns">
    @foreach (var item in Smite.items)
    {
        <div class="card border-dark mb-3 items-card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img-top" src="@item.itemIcon_URL" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.DeviceName</h5>
                    <p>@item.ShortDesc</p>
@*                        <p>@if (item.ItemDescription.SecondaryDescription == null || item.ItemDescription.SecondaryDescription == "") {@item.ShortDesc; } else { @item.ItemDescription.SecondaryDescription; }</p>
*@                        <p>Tier: @item.ItemTier Price: @item.Price</p>
@*                        <p>@foreach (var stat in item.ItemDescription.Menuitems) { stat.GetType().GetProperty("description").GetValue(stat, null); }</p>
*@                    </div>
                </div>
            </div>
        </div>
    }
</div>
