<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Dashboard Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">@Smite.player[0].Name</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <form method="post" asp-controller="Home" asp-action="PlayerSummary">
                                <input type="text" value="@Smite.previousName" name="playerToSearch" hidden />
                                <button type="submit" class="btn btn-link">Summary</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Ranked">
                                <span data-feather="file"></span>
                                Ranked
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="MatchHistory">
                                <span data-feather="shopping-cart"></span>
                                Match History
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Match History</h1>
                </div>
                @foreach (var match in Smite.playerMatchHistory)
                {
                    string result = Smite.CheckResult(match);
                    

                    <div class="ranked-table">
                        <h1>@match.Queue @match.Match_Time</h1>
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0"  class="match-build">
                                <thead>
                                    <tr class="@result">
                                        <th>God</th>
                                        <th>Active 1</th>
                                        <th>Active 2</th>
                                        <th>Item 1</th>
                                        <th>Item 2</th>
                                        <th>Item 3</th>
                                        <th>Item 4</th>
                                        <th>Item 5</th>
                                        <th>Item 6</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr class="@result">
                                        <td><img src="@Smite.godsDictionary[match.God.Replace("_", " ")].godIcon_URL" title="@Smite.godsDictionary[match.God.Replace("_", " ")].Name"></td>
                                        <td><img src="@Smite.itemsDictionary[match.Active_1].itemIcon_URL" title="@match.Active_1"></td>
                                        <td><img src="@Smite.itemsDictionary[match.Active_2].itemIcon_URL" title="@match.Active_2"></td>
                                        <td>@if (match.Item_1 != "") {<img src="@Smite.itemsDictionary[match.Item_1].itemIcon_URL"/>} else {<img src="/Images/smitebolt.png" title="lightning bolt">} </td>
                                        <td>@if (match.Item_2 != "") {<img src="@Smite.itemsDictionary[match.Item_2].itemIcon_URL"/>} else {<img src="/Images/smitebolt.png" title="lightning bolt">}</td>
                                        <td>@if (match.Item_3 != "") {<img src="@Smite.itemsDictionary[match.Item_3].itemIcon_URL"/>} else {<img src="/Images/smitebolt.png" title="lightning bolt">}</td>
                                        <td>@if (match.Item_4 != "") {<img src="@Smite.itemsDictionary[match.Item_4].itemIcon_URL"/>} else {<img src="/Images/smitebolt.png" title="lightning bolt">}</td>
                                        <td>@if (match.Item_5 != "") {<img src="@Smite.itemsDictionary[match.Item_5].itemIcon_URL"/>} else {<img src="/Images/smitebolt.png" title="lightning bolt">}</td>
                                        <td>@if (match.Item_6 != "") {<img src="@Smite.itemsDictionary[match.Item_6].itemIcon_URL"/>} else {<img src="/Images/smitebolt.png" title="lightning bolt">}</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                    <div class="ranked-table">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Kills</th>
                                        <th>Deaths</th>
                                        <th>Assists</th>
                                        <th>Damage Dealt</th>
                                        <th>Damage Taken</th>
                                        <th>Damage Mitigated</th>
                                        <th>Structure Damage</th>
                                        <th>Total Healing</th>
                                        <th>Total Self Healing</th>
                                        <th>Game Length (Mins)</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr>
                                        <td>@match.Kills</td>
                                        <td>@match.Deaths</td>
                                        <td>@match.Assists</td>
                                        <td>@match.Damage</td>
                                        <td>@match.Damage_Taken</td>
                                        <td>@match.Damage_Mitigated</td>
                                        <td>@match.Damage_Structure</td>
                                        <td>@match.Healing</td>
                                        <td>@match.Healing_Player_Self</td>
                                        <td>@match.Minutes</td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                }


            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="dashboard.js"></script>
</body>
</html>
